@import 'variables';

.jb-education {
  &__content {
    display: flex;
    flex-direction: column;

    &__item {
      display: flex;
      margin-bottom: 16px;

      &__image {
        flex-shrink: 0;
        margin-right: 32px;
        padding-top: 8px;
        img {
          object-fit: contain;
        }
      }

      &__details {
        display: flex;
        flex-direction: column;

        &__major {
          color: mat-color($primary);
        }

        &__description {
          margin-top: 16px;
        }
      }
    }
  }
}
