<mat-toolbar color="primary" class="jb-header__toolbar" role="header">
  <button
    mat-icon-button
    matTooltip="Open navigation menu"
    (click)="onClick()"
    aria-label="Open navigation menu"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <a mat-button class="jb-header__toolbar__title" routerLink="/">
    <span>Jordan BORDONADO's interactive resume</span>
  </a>
  <a
    mat-icon-button
    href="assets/CV-Jordan-Bordonado.pdf"
    download="CV-Jordan-Bordonado.pdf"
    matTooltip="Download a copy of Jordan BORDONADO's resume"
    class="jb-header__toolbar__download"
    aria-label="Download resume of Jordan BORDONADO"
  >
    <mat-icon>save_alt</mat-icon>
  </a>
</mat-toolbar>
