<mat-toolbar color="primary" class="jb-header__toolbar" role="header">
  <button
    mat-icon-button
    class="jb-app__header-menu__button"
    (click)="onClick()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Jordan BORDONADO - Interactive resume</span>
  <a
    mat-icon-button
    href="assets/CV-Jordan-Bordonado.pdf"
    download="CV-Jordan-Bordonado.pdf"
    matTooltip="Download a copy of Jordan BORDONADO's resume"
    class="jb-header__toolbar__download"
    aria-label="Download resume of Jordan BORDONADO"
  >
    <mat-icon>save_alt</mat-icon>
  </a>
</mat-toolbar>
