@import 'variables';

.jb-header {
  &__toolbar {
    position: fixed;
    top: 0;
    height: $toolbar-height;
    z-index: 2;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__menu {
      @include very-small {
        width: max-content;
      }
    }

    &__title {
      flex-shrink: 0;
    }

    &__actions {
      > a {
        @include very-small {
          width: max-content;
        }
      }
      > a:not(:first-child) {
        @include very-small {
          padding-left: 8px;
        }
      }

      &__download {
        transition: all 0.2s ease-in-out;

        :hover {
          transform: scale(1.5);
        }
      }
    }
  }
}
