@import 'variables';

.jb-header {
  &__toolbar {
    position: fixed;
    top: 0;
    height: $toolbar-height;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__download {
      transition: all 0.2s ease-in-out;

      :hover {
        transform: scale(1.5);
      }
    }
  }
}
