<footer class="jb-footer">
  <div *ngIf="profile$ | async as profile" class="jb-footer__container">
    <h1 class="jb-footer__container__title">Contact</h1>
    <div class="jb-footer__container__contact">
      <a
        *ngFor="let contact of profile.contactDetails"
        href="{{ contact.link }}"
      >
        <img width="64px" src="{{ contact.image }}" />
      </a>
    </div>
    <div class="jb-footer__container__copyright">
      <span class="jb-footer__container__copyright__name"
        >{{ profile.firstname }} {{ profile.lastname | uppercase }}</span
      >
      <mat-icon>copyright</mat-icon>
      <span>{{ copyrightDate }}</span>
    </div>
  </div>
</footer>
