<footer class="jb-footer">
  <div class="jb-footer__container">
    <h1 class="jb-footer__container__title">Contact</h1>
    <div class="jb-footer__container__contact">
      <a
        *ngFor="let contact of profile.contactDetails"
        href="{{ contact.link }}"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          width="64px"
          src="{{ contact.image }}"
          alt="{{ contact.ariaLabel }}"
          class="jb-footer__container__contact__image"
        />
      </a>
    </div>
    <div class="jb-footer__container__copyright">
      <span class="jb-footer__container__copyright__name"
        >{{ profile.firstname }} {{ profile.lastname | uppercase }}</span
      >
      <mat-icon>copyright</mat-icon>
      <span>{{ copyrightDate }}</span>
    </div>

    <button
      mat-icon-button
      (click)="notifyScrollToTop()"
      class="jb-footer__container__scroll-button"
      i18n-aria-label
      aria-label="Scroll to the top of the page"
      matTooltip="Scroll to the top of the page"
      i18n-matTooltip
    >
      <mat-icon>double_arrow</mat-icon>
    </button>
  </div>
</footer>
