@import 'variables';

.jb-education-experience {
  &__card {
    display: flex;
    margin-bottom: 16px;

    @include small {
      flex-direction: column;
    }

    &__image {
      @include small {
        margin-right: 0;
        margin-bottom: 16px;
        align-self: center;
      }
      margin-right: 32px;
      padding-top: 8px;
      object-fit: contain;
      max-width: 100%;
    }

    &__details {
      &--bold {
        font-weight: bold;
      }

      &__major {
        color: mat-color($primary);
      }

      &__description {
        margin-top: 16px;
      }
    }
  }
}
