<h1>My certifications</h1>

<p>
  Most of them come from a period of time where I was very interested about Big
  Data which was the buzzword back then. That's how I learned Scala and found
  out about functionnal programming (I only knew of Object-oriented programming
  at that time), which was a blessing considering that I'm using a lot of these
  concepts at my current company.
</p>

<div
  *ngIf="certificates$ | async as certificates"
  class="jb-certifications__content"
>
  <mat-card
    *ngFor="let cert of certificates"
    class="jb-certifications__content__item"
  >
    <div class="jb-certifications__content__item__details">
      <div class="jb-certifications__content__item__details__image">
        <img
          width="100px"
          height="50px"
          src="assets/{{ cert.authorityLogo }}"
        />
      </div>
      <div class="jb-certifications__content__item__details__description">
        <div>
          <strong>{{ cert.authorityName }}</strong>
        </div>
        <div
          class="jb-certifications__content__item__details__description__name"
        >
          <strong>{{ cert.name }}</strong>
        </div>
        <div>
          {{ cert.issuingDate | date: 'MMMM yyyy' }}
        </div>
      </div>
    </div>

    <div *ngIf="cert.link" class="jb-certifications__content__item__link">
      <a
        href="{{ cert.link }}"
        mat-button
        color="primary"
        target="_blank"
        class="jb-certifications__content__item__link-item"
        >See certificate</a
      >
    </div>
  </mat-card>
</div>
