<h2>My certifications</h2>

<ng-container *ngIf="certificates$ | async as certificates">
  <div class="jb-certifications__content">
    <div
      *ngFor="let cert of certificates"
      class="jb-certifications__content__item"
    >
      <div class="jb-certifications__content__item__image">
        <img
          width="100px"
          height="50px"
          src="assets/{{ cert.authorityLogo }}"
        />
      </div>
      <div class="jb-certifications__content__item__details">
        <a *ngIf="cert.link; else noLink" target="_blank" href="{{ cert.link }}"
          ><strong>{{ cert.name }}</strong></a
        >
        <ng-template #noLink>
          <strong>{{ cert.name }}</strong>
        </ng-template>
        <i>{{ cert.authorityName }}</i>
        <small>{{ cert.issuingDate }}</small>
      </div>
    </div>
  </div>
</ng-container>
