<h1 i18n>My certifications</h1>

<p i18n>
  Most of them come from a period of time where I was very interested about Big
  Data which was the buzzword back then. That's how I learned Scala and found
  out about functionnal programming (I only knew of Object-oriented programming
  at that time), which was a blessing considering that I'm using a lot of these
  concepts at my current company.
</p>

<div class="jb-certifications__content">
  <jb-certificate *ngFor="let cert of certificates" [certificate]="cert">
  </jb-certificate>
</div>
