<h1 i18n>A little extra information about me</h1>

<mat-list class="jb-bonus__list">
  <mat-list-item i18n
    >I'm a big fan of sports in general, but mostly soccer and
    tennis</mat-list-item
  >
  <mat-divider></mat-divider>
  <mat-list-item i18n
    >I love to travel: I've been to quite a few places in Europe and
    Asia</mat-list-item
  >
  <mat-divider></mat-divider>
  <mat-list-item i18n
    >I want to learn mandarin and I started to work on that a while
    ago!</mat-list-item
  >
</mat-list>
