.jb-skills {
  &__spinner {
    margin: 64px auto 0;
  }

  &__categories {
    display: flex;
    flex-wrap: wrap;

    &__list {
      min-width: 200px;
      margin-right: 16px;
      margin-bottom: 16px;
    }
  }
}
