<h1>An overview of my most important skills</h1>

<p>
  Generally speaking, I am eager to learn and I try to go deep on the various
  topics I deal with. Besides, I always try to keep a positive attitude in a
  team, which means positive feedback and support at any time.
</p>

<div class="jb-skills__categories">
  <mat-list *ngFor="let skill of skills" class="jb-skills__categories__list">
    <div mat-subheader>{{ skill.category }}</div>
    <mat-list-item *ngFor="let item of skill.items">
      <div mat-line>{{ item }}</div>
    </mat-list-item>
  </mat-list>
</div>
