@import 'variables';

:host {
  display: flex;
}

.fc-experience {
  &__image {
    flex-shrink: 0;
    margin-right: 16px;
    img {
      object-fit: contain;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;

    &__description {
      margin-top: 16px;
    }
  }
}
