@import 'variables';

.jb-experience {
  &__header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 24px;

    &__left {
      &__image {
        flex-shrink: 0;
        margin-right: 32px;
        object-fit: contain;
      }

      &__dates {
        padding: 4px 0;

        > * {
          vertical-align: middle;
        }

        > :first-child {
          margin-right: 4px;
        }

        > :last-child {
          margin-left: 4px;
        }

        &__dot {
          height: 8px;
          width: 8px;
          border: 1px solid black;
          border-radius: 50%;
          display: inline-block;
        }
        > hr {
          display: inline-block;
          border: 1px solid black;
          width: 40px;
        }
      }
    }

    &__jobTitle {
      color: mat-color($primary);
    }
  }

  &__content {
    margin-top: 16px;

    &__objective {
      margin-bottom: 24px;
    }

    &__technologies {
      margin-top: 24px;
    }
  }
}
