<mat-card>
  <div class="jb-experience__header">
    <div class="jb-experience__header__left">
      <img
        width="100px"
        height="30px"
        src="assets/{{ exp.companyLogo }}"
        class="jb-experience__header__left__image"
      />
      <div class="jb-experience__header__left__dates">
        <span>{{ exp.startDate | date: 'MMM yyyy' }}</span>
        <span class="jb-experience__header__left__dates__dot"></span>
        <hr />
        <span class="jb-experience__header__left__dates__dot"></span>
        <span *ngIf="exp.endDate; else endDateNow">{{
          exp.endDate | date: 'MMM yyyy'
        }}</span>
        <ng-template #endDateNow>
          <span>Now</span>
        </ng-template>
      </div>
    </div>
    <strong>{{ exp.jobTitle }}</strong>
    <span>{{ exp.location }}</span>
  </div>
  <div class="jb-experience__content">
    <p *ngFor="let desc of exp.description">{{ desc }}</p>
  </div>
</mat-card>
