<mat-card>
  <div class="jb-work-experience__header">
    <img
      width="100px"
      height="30px"
      src="assets/{{ exp.companyLogo }}"
      class="jb-work-experience__header__image"
    />
    <div class="jb-work-experience__header__jobTitle jb-work-experience--bold">
      {{ exp.jobTitle }}
    </div>
    <span>{{ exp.location }}</span>
  </div>
  <div class="jb-work-experience__content">
    <div class="jb-work-experience__content__summary">
      <div class="jb-work-experience__content__summary__dates">
        <span>{{ exp.startDate | date: 'MMM yyyy' }}</span>
        <span class="jb-work-experience__content__summary__dates__dot"></span>
        <hr />
        <span class="jb-work-experience__content__summary__dates__dot"></span>
        <span *ngIf="exp.endDate; else endDateNow">{{
          exp.endDate | date: 'MMM yyyy'
        }}</span>
        <ng-template #endDateNow>
          <span>Now</span>
        </ng-template>
      </div>
      <div
        class="jb-work-experience__content__summary__objective jb-work-experience--bold"
      >
        {{ exp.description.objective }}
      </div>
    </div>
    <div *ngFor="let comment of exp.description.comments">{{ comment }}</div>
    <div class="jb-work-experience__content__technologies">
      <small>{{ exp.description.technologies.join(', ') }}</small>
    </div>
  </div>
</mat-card>
