@import 'variables';

.jb-work-experience {
  &--bold {
    font-weight: bold;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 24px;

    &__image {
      margin-right: 32px;
      object-fit: contain;
      max-width: 100%;
    }

    &__jobTitle {
      color: mat-color($primary);
    }
  }

  &__content {
    &__summary {
      &__dates {
        display: flex;
        align-items: center;
        padding: 4px 0;

        @include very-small {
          flex-direction: column;
          align-items: initial;
          width: max-content;
        }

        > * {
          vertical-align: middle;
        }

        > :first-child {
          margin-right: 4px;
        }

        > :last-child {
          margin-left: 4px;
        }

        &__separator {
          width: 40px;
          height: 1px;
          background: black;

          @include very-small {
            transform: rotate(90deg);
            margin: 20px 0;
            align-self: center;
          }
        }
      }

      &__objective {
        margin-bottom: 24px;
      }
    }

    &__technologies {
      margin-top: 24px;
    }
  }
}
