:host {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
}

@media screen and (max-width: 575px) {
}

$footer-height: 200px;

#container {
  min-height: 100%;
  position: relative;
}

#body {
  height: 100%;
  padding-bottom: $footer-height;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
}
