.jb-career {
  &__introduction {
    margin-bottom: 16px;
    > p {
      margin: 0;
    }
  }

  &__experiences {
    display: flex;
    flex-direction: column;

    &__item {
      margin-bottom: 16px;
    }
  }
}
