<h1 i18n>Hey there!</h1>

<div>
  <p i18n>
    My name is Jordan BORDONADO and I'm a fullstack developer for Air France in
    Sophia-Antipolis (France).
  </p>
  <p i18n>
    I have a lot of passion for development and I like clean code, fairly tested
    and easy to read so I try to set high expectations for myself.
  </p>

  <p i18n>
    Feel free to dig through the different sections of the site to get to know
    me.
  </p>
  <p i18n>
    You can find my contact details either in the Profile section or in the
    footer, in case you want to get in touch!
  </p>

  <div>
    <span i18n>
      Also, here is a copy of my resume in case you're interested:
    </span>
    <a
      mat-button
      href="assets/CV-Jordan-Bordonado.pdf"
      download="CV-Jordan-Bordonado.pdf"
      color="primary"
      aria-label="Download resume of Jordan BORDONADO"
      i18n-aria-label
      i18n
    >
      Jordan BORDONADO's resume
    </a>
  </div>
</div>
