<h1>Hey there!</h1>

<p>
  I'm a fullstack developer for Air France in Sophia-Antipolis (France) and I
  built this interactive resume using Angular 9.
</p>
<p>
  I have a lot of passion for development and I like clean code, fairly tested
  and easy to read so I try to set high expectations for myself.
</p>

<p>
  Feel free to dig through the different sections of the site to get to know me.
</p>
<p>
  You can find my contact details either in the Profile section or in the
  footer, in case you want to get in touch!
</p>
