<h2>Here's a little something about me</h2>

<p>I'm a fullstack developer for Air France in Sophia-Antipolis (France).</p>
<p>
  I have a lot of passion for development which is great because I love my job
  and I'm always excited to start a new day!
</p>
<p>I enjoy facing challenges and getting to learn new languages</p>
<p>
  I like clean code, fairly tested and easy to read so I try to set high
  expectations for myself.
</p>
<p>
  I also have a great ability to adapt and learn new languages because I am
  curious and always try to go deep in the concepts whenever I don't understand
  or know something.
</p>
<p>
  In that sense, I have a great attention to details and a strong sense of
  dedication, always ready to help my colleagues with what I know or learn from
  them.
</p>
<p>
  My first taste of development was in my first year at the university, in a
  class teaching Python. I have to say I was doing okay but it didn't feel like
  it was a great fit for me.
</p>
<p>
  The next years at the university, I also got to learn Java, make school
  projects, work in a team etc... I felt like I was getting better (hopefully!)
  at the whole 'coding stuff' but still I didn't plan on making it my
  professional career.
</p>
<p>
  Finally, I spent the last year of my Engineer's degree working in Amadeus part
  time for an apprenticeship focused on the creation of a booking tool
  prototype.
</p>
<p>
  And I really enjoyed the experience because I actually made a lot of progress
  during this year, I had a lot of autonomy and I got to make framework /
  architecture / design choices and the outcome of this apprenticeship was
  really a success for my supervisor so it gave me the confidence boost I needed
  to decide that it was what I wanted to do on a daily basis. In addition, I
  really liked the airline's industry and I learned a lot about the functional
  and technical aspects.
</p>
<p>
  So naturally, since I graduated (+3 years ago now), I've been working at Air
  France, France's biggest airline company.
</p>
<p>
  First as a front-end engineer on Air France's booking website team
  (www.airfrance.fr), then on its mobile website (mobile.airfrance.fr), using
  J2EE and classic web technologies
</p>
<p>
  And last summer, I joined a team to work as a fullstack engineer on disruption
  flows (complaint form, missing baggage declaration, flight status, ...) for
  the new joint Air France / KLM booking website, that is fully responsive and
  powered by state of the art technologies (Angular 9, Typescript, Apollo
  GraphQL, Sass...).
</p>
<p>
  I've been enjoying a lot this new project since then, because I'm becoming
  experienced with popular and widely used javascript frameworks, and the work
  environment is great (a lot of interactions with our colleagues in Amsterdam
  and a lot of expertise brought by the numerous people working on this big
  project).
</p>
<p>
  That's all for now, fell free to dig through the dfferent sections of my
  resume to get to know me and below are my contact details in case you need it!
</p>
