.jb-profile {
  &__card {
    &__header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 24px;

      &__left {
        display: flex;

        &__text {
          margin-left: 16px;
        }

        &__title {
          margin-bottom: 12px;
        }

        &__image {
          border-radius: 50%;
        }
      }
    }

    &__actions {
      margin-left: 0;
    }
  }
}
