<h1>Brief information about me</h1>

<mat-card class="jb-profile__card">
  <div class="jb-profile__card__header">
    <div class="jb-profile__card__header__left">
      <img
        mat-card-sm-image
        src="assets/jordan.jpg"
        class="jb-profile__card__header__left__image"
      />
      <div class="jb-profile__card__header__left__text">
        <mat-card-title>Jordan BORDONADO</mat-card-title>
        <mat-card-subtitle
          >Fullstack Developer (+3 years experience)</mat-card-subtitle
        >
      </div>
    </div>
    <div class="jb-profile__card__header__right">
      <div>26 years old</div>
      <div>Antibes (France)</div>
    </div>
  </div>
  <mat-card-content>
    <div>
      <p>
        Overall I'm an experienced developer and I understand very well business
        needs to deliver high quality items.
      </p>
      <p>
        I enjoy facing challenges and difficult tasks and I'm able to perform
        well under pressure.
      </p>
      <p>
        I also fit great in a team because I adapt and learn very fast in a new
        environment, I always make time to provide support or guidance to my
        colleagues and I love to have feedback on my work and try to expand my
        knowledge.
      </p>
    </div>
  </mat-card-content>
  <mat-card-actions class="jb-profile__card__actions">
    <strong> Contact info:</strong>
    <a
      mat-button
      href="mailTo:jordan.bordonado@gmail.com"
      color="accent"
      aria-label="Email link"
      >EMAIL</a
    >
    <a
      mat-button
      href="https://www.linkedin.com/in/jbordonado"
      target="_blank"
      color="accent"
      aria-label="Linkedin link"
      >LINKEDIN</a
    >
    <a
      mat-button
      href="https://github.com/Aigloun"
      target="_blank"
      color="accent"
      aria-label="GitHub link"
      >GitHub</a
    >
  </mat-card-actions>
</mat-card>
