@import 'variables';

.jb-profile {
  &__spinner {
    margin: 64px auto 0;
  }

  &__card {
    margin-bottom: 8px;
    &__header {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 24px;

      &__main {
        display: flex;
        flex-wrap: wrap;

        &__image {
          @include small {
            margin: 8px auto;
          }
          border-radius: 50%;
        }

        &__text {
          @include small {
            margin-left: 0;
          }
          margin-left: 16px;
        }
      }
    }

    &__actions {
      margin-left: 0;
    }
  }
}
