<h2>About me:</h2>

<div class="fc-profile__details">
  <p>Name: Jordan BORDONADO</p>
  <p>Age: 26 years old</p>
  <p>Location: Antibes (France)</p>
</div>

<div class="fc-profile__description">
  <p>
    I'm a french developer living in the South of France, passionate about
    development and always eager to learn new languages.
  </p>
  <p>
    What characterizes me the most is my attention to details and a strong sense
    of dedication.
  </p>
  <p>
    I started to learn development with Python language in my first university
    courses.
  </p>
  <p>
    Quickly after, I had to learn Java, which is the language that I have used
    the most on my personal and professional projects up to this day.
  </p>
  <p>
    About a year ago, I started working on a full Javascript project, featuring
    Angular for the front-end and Node.js for the back-end.
  </p>
  <p>
    It turns out I have a great ability to adapt and learn new languages because
    I am very curious and try to go deep in the concepts whenever I face issues
    and need to understand better something.
  </p>
</div>
