@import 'variables';

.fc-sidenav {
  min-height: 100vh;

  &__links {
    &__text {
      margin: 0 4px;
    }
  }

  mat-sidenav {
    background-color: mat-color($sidenav-color);
  }

  mat-sidenav-content {
    // background-color: mat-color($sidenav-color);
    // color: white;
  }

  &__content {
    margin: 32px 0;
    padding: 0 16px;
    max-width: 960px;
  }
}
