<mat-sidenav-container class="jb-sidenav" autosize>
  <mat-sidenav [mode]="'side'" opened role="navigation">
    <mat-nav-list class="jb-sidenav__nav-links">
      <a mat-list-item [routerLink]="'/'">
        <img
          class="jb-sidenav__nav-links__icon"
          src="assets/home_outline.svg"
        />
        <span class="jb-sidenav__nav-links__text">Home</span>
      </a>
      <a mat-list-item [routerLink]="'/profile'">
        <mat-icon matListIcon>perm_identity</mat-icon
        ><span class="jb-sidenav__nav-links__text">Profile</span>
      </a>
      <a mat-list-item [routerLink]="'/education'">
        <img
          class="jb-sidenav__nav-links__icon"
          src="assets/school_outline.svg"
        />
        <span class="jb-sidenav__nav-links__text">Education</span>
      </a>
      <a mat-list-item [routerLink]="'/career'">
        <mat-icon matListIcon>work_outline</mat-icon>
        <span class="jb-sidenav__nav-links__text">Career</span>
      </a>
      <a mat-list-item [routerLink]="'/certifications'">
        <img
          class="jb-sidenav__nav-links__icon"
          src="assets/certificate_outline.svg"
        />
        <span class="jb-sidenav__nav-links__text">Certifications</span>
      </a>
      <a mat-list-item [routerLink]="'/skills'">
        <mat-icon matListIcon>star_outline</mat-icon>
        <span class="jb-sidenav__nav-links__text">Skills</span>
      </a>
      <a mat-list-item [routerLink]="'/bonus'">
        <mat-icon matListIcon>card_giftcard</mat-icon>
        <span class="jb-sidenav__nav-links__text">Bonus</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="jb-sidenav__content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
