@import 'variables';

.jb-sidenav {
  margin-top: $toolbar-height;
  min-height: 100vh;
  background-color: initial;

  mat-sidenav {
    background-color: mat-color($sidenav-bg-color);
  }

  &__nav-links {
    &__icon {
      padding: 4px;
    }
    &__text {
      margin: 0 4px;
    }
  }

  &__content {
    width: 90%;
    max-width: 1024px;
    margin: 32px auto;
  }
}
