@import 'variables';

.jb-sidenav {
  min-height: 100vh;
  background-color: initial;

  mat-sidenav {
    background-color: mat-color($sidenav-bg-color);
  }

  &__nav-links {
    &__icon {
      padding: 4px;
    }
    &__text {
      margin: 0 4px;
    }
  }

  &__content {
    margin: 32px 0;
    padding: 0 32px;
    max-width: 960px;
  }
}
