<mat-sidenav-container (backdropClick)="closeSidenav()" class="jb-sidenav">
  <mat-sidenav
    fixedInViewport="true"
    mode="over"
    [opened]="isOpen"
    role="navigation"
  >
    <mat-nav-list class="jb-sidenav__nav-links">
      <ng-container *ngFor="let section of sectionItems">
        <a
          *ngIf="isIcon(section); else imageSectionItem"
          mat-list-item
          (click)="onNavClick(section)"
          [routerLink]="section.route"
        >
          <mat-icon matListIcon aria-hidden="true">{{
            section.image.value
          }}</mat-icon
          ><span class="jb-sidenav__nav-links__text">{{ section.name }}</span>
        </a>
        <ng-template #imageSectionItem>
          <a
            mat-list-item
            (click)="onNavClick(section)"
            [routerLink]="section.route"
          >
            <img
              [src]="section.image.value"
              width="24px"
              height="24px"
              class="jb-sidenav__nav-links__icon"
              aria-hidden="true"
            />
            <span class="jb-sidenav__nav-links__text">{{ section.name }}</span>
          </a>
        </ng-template>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content role="main">
    <div class="jb-sidenav__content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
