<mat-sidenav-container class="fc-sidenav">
  <mat-sidenav #drawer mode="side" opened role="navigation">
    <mat-nav-list>
      <a mat-list-item routerLink="/profile"
        ><mat-icon matListIcon>perm_identity</mat-icon>Profile</a
      >
      <a mat-list-item routerLink="/experiences"
        ><mat-icon matListIcon>work_outline</mat-icon>Experiences</a
      >
      <a mat-list-item routerLink="/skills"
        ><mat-icon matListIcon>stars</mat-icon>Skills</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="fc-sidenav__content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
